@model IEnumerable<SalesWebMvc.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h2>Index</h2>

<p>
    <button class="btn">
        <a asp-action="Create"><i class="fa fa-edit"></i>Create New</a>
    </button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <button class="btn btn-warning">
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */})
                    </button>
                    <button class="btn btn-primary">
                        @Html.ActionLink("Details   ", "Details", new { /* id=item.PrimaryKey */})
                    </button>
                    <button class="btn btn-danger">
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */})
                    </button>


                </td>
            </tr>
        }
    </tbody>
</table>
